@model MvcMovie.Models.VideoModel
@{

    ViewBag.Title = "AssignOnUser";
    Layout = "~/Views/Shared/_LayoutPartial.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<style>
    .table-condensed {
        width: 300px;
        height: 300px;
        position: fixed;
        margin-left: -150px; /* half of width */
        margin-top: -150px; /* half of height */
        top: 50%;
        left: 50%;
    }
   
    /*.form-group input[type="checkbox"] {
        display: none;
    }

        .form-group input[type="checkbox"] + .btn-group > label span {
            width: 20px;
        }

            .form-group input[type="checkbox"] + .btn-group > label span:first-child {
                display: none;
            }

            .form-group input[type="checkbox"] + .btn-group > label span:last-child {
                display: inline-block;
            }

        .form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
            display: inline-block;
        }

        .form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
            display: none;
        }*/
</style>
<h2>this is AssignOnUser page</h2>



@using (Html.BeginForm("AssignOnUser", "AssignPage", FormMethod.Post, new { id = "assignform " }))
{
    
    <body>

        <div class="table-responsive">
        <table class="table-condensed" style="border:1px solid lightgrey;border-collapse: collapse;border-color:blanchedalmond">
            <tr  style="vertical-align:top">
                <th height="7">
                    doctor name
                </th>
                <th height="14">
                    video title
                </th>
            </tr>
            
            <tr class="success" style="vertical-align:top">
                <td>
              @Html.DropDownListFor(model => model.UserID, ViewBag.getDoctor as SelectList)
                                                        
                  @*@Html.DropDownList("UserID", "--select doctor--");*@
                </td>
                
                <td id="input">

                    @for (int i = 0; i < Model.videos.Count(); i++)
                    {
                    <br />
                    @Html.CheckBoxFor(x => Model.videos[i].isChecked)
                    @Html.HiddenFor(x => Model.videos[i].VideoID)
                    @Html.DisplayFor(x => Model.videos[i].VideoTitle)
                    }
                </td>

            </tr>
            <tr>
              
                <td style="text-align:right">
              
                    <input type="submit" value="Submit" id="btnSubmit" class="btn btn-primary"/>


                </td>
            </tr>
        </table>
         </div>
    </body>
}
<script>
    //function myFunction() {
    //    alert("video assign successfully");

    //}


    $("#UserID").change(function () {
        console.log($(this).val());
        $.ajax({
            url: '/AssignPage/GetList',
            type: 'POST',
            data: JSON.stringify({ UserId: $(this).val() }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var data = JSON.parse(data);
                updateCheckListView(data);
            },
            error: function () {
            }
        });
    });

    function updateCheckListView(data) {
        console.log(data);
        for (var i = 0; i < data.length; i++) {
            if (data[i].IsChecked) {
                $("#videos_" + i + "__isChecked").prop('checked', true);
            } else {
                $("#videos_" + i + "__isChecked").prop('checked', false);
            }
        }
    }
    //$(document).ready(function () {

   
    //    $("#UserID").change(function () {
    //        var delData = [];
    //        $("input:checked").each(function () {
    //            delData.push($(this).val());
    //        });
    //        $.ajax({
    //            type: "POST",
    //            url: "/AssignPage/delete",
    //            data: { 'ids': delData },
    //            success: function (data) {
    //                $("#sortabletable input[type=checkbox]:checked").closest("tr").remove();
    //                if (data = true) {
    //                    jQuery("tr input:checked").remove(this);
    //                }
    //            },
    //            dataType: "json",
    //            traditional: true
    //        });
    //        return false;
    //    })


    //})


</script>
